{% load static %}
<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="description" content="FinexInvestment. User Trading Dashboard">
  <meta name="viewport" content="width=device-width">
  <title>FinexInvestment | User Dashboard</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'login_files/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/elegant.min.css' %}">
  <link id="site-color" rel="stylesheet" href="{% static 'login_files/color-default.min.css' %}">
  <!--link rel="stylesheet" href="./assets/global/plugins/switchery/dist/switchery.min.css"/-->
  <link rel="stylesheet" href="{% static 'login_files/perfect-scrollbar.min.css' %}">


  <link rel="stylesheet" href="{% static 'login_files/font-awesome.min.css' %}">
  <!--link rel="stylesheet" href="./assets/global/plugins/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"/>
<link rel="stylesheet" href="./assets/global/plugins/weather-icons/css/weather-icons.min.css"/>
<link rel="stylesheet" href="./assets/global/plugins/weather-icons/css/weather-icons-wind.min.css"/>
<link rel="stylesheet" href="./assets/global/plugins/morris.js/morris.min.css"/-->
  <link rel="stylesheet" href="{% static 'login_files/rickshaw.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/flatpickr.min.css' %}">

  <link rel="stylesheet" href="{% static 'login_files/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'login_files/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/scroller.bootstrap4.min.css' %}">

  <link rel="stylesheet" href="{% static 'login_files/dropify.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/components.min.css' %}">


  <link rel="stylesheet" href="{% static 'login_files/layout.min.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/login.css' %}">
  <link rel="stylesheet" href="{% static 'login_files/register-v1.css' %}">

</head>

<body>
  <div class="login-background">
         <h1 class="reg_head" style="color: #fff;">
            Password Change
            <p>
                Please fill the form to change your password.
            </p>
        </h1>
    <div class="login-page">
      <div class="main-login-contain">
       
        <div class="login-form">
          <form method="post" action='.'>
            {% csrf_token %}
            {% comment %} {{ form.as_p }}  {% endcomment %} 
            <label for="id_old_password">Old password:</label>
            <div class="login_input">
                      {{ form.old_password.errors }}
                      
                            {{ form.new_password1 }}
                            <span class="login-right-icon"><i class="fas fa-key"></i></span>
                        </div>
                         <label for="id_new_password">New password:</label>
            <div class="login_input">
                      {{ form.new_password1.errors }}
                      
                            {{ form.new_password2 }}
                            <span class="login-right-icon"><i class="fas fa-key"></i></span>
                        </div>
                        <label for="id_new_password2">Confirm New password:</label>
            <div class="login_input">
                      {{ form.new_password2.errors }}
                       
                            {{ form.new_password2 }}
                            <span class="login-right-icon"><i class="fas fa-key"></i></span>
                        </div>
            {% comment %} <div class="login_input"> {% endcomment %}
                           
                        {% comment %} </div> {% endcomment %}
            
         
        </div>
        <input type="submit" class="btn btn-primary btn-login" id="loginbtn" value='Submit' />
        </form>
      </div>
  <script src="{% static 'login_files/ajax.js.download' %}" type="text/javascript"></script>
  <script src="{% static 'login_files/main.js.download' %}" type="text/javascript"></script>
</body>

</html>